#map {
  height: 400px;
  width: 100%;
}

body{
  background-color: white;
  background-image: url("dev.jpg");
  background-size: cover;
}

header{
  text-align: center;
  color: white;
  font-family: helvetica;
}

ul{
  padding: 100px;
}

a{
  color: white;
  font-family: helvetica;
}

li{
  display: inline;
  padding: 0px 10px 0px 10px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.jumbotron{
  background-color: transparent;
}
