#map {
  height: 400px;
  width: 100%;
}

header{
  text-align: center;
  color: blue;
  background height: 100%;
}

ul{
  padding: 100px;
}

a{
  color: blue;
}

li{
  display: inline;
  padding: 0px 10px 0px 10px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
