* {
    font-family: 'Open Sans Condensed', sans-serif;
}

.header {
	height: 700px;
	width: 100%;
	padding: 30px 0 30px;
	background-image: url(images/about.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}

.header p {
  font-size: 18px;
  text-align: left;
}

 .about-us img {
   width: 150px;
   heigh: 150px;
 }

 .us {
   margin-top: 20px;
 }

 .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: right;
    height: 100px;
  }
  .footer p{
    margin-right: 15px;
  }

li{
  display: inline;
  padding: 0px 10px 0px 10px;
}

h1{
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: 'Bungee Outline', cursive;
  padding: 10px 10px 10px 10px;
}

ul{
  padding: 10px;
  font-size: 30px;
}

a{
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.nav li a{
  font-size: 25px;
}

.navbar-header a{
  font-family: 'Bungee Outline', cursive;
  font-size: 40px;
  padding: 25px 0px 0px 10px;
  font-weight: bold;
  opacity: 1;
}

.navbar{
  background-color: #D6D6D6;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=60);
}
.navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

p{
  font-size: 25px;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}


#map {
  height: 500px;
  width: 100%;
}

.fa {
    padding: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.jumbotron{
  background-color: transparent;
  font-size: 25px;
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron .fa{
  font-size: 50px;
}
